.navbar-logo {
  width: 250px;
  padding-left: 40px;
  margin-top: 20px;
}

.navbar-menu {
  margin-top: 50px;
  justify-content: flex-end;
  display: flex;
}

.button {
  flex-direction: column;
  margin-left: 20px;
  margin-right: 40px;
  padding: 0px 20px;
}

.book-a-demo-button-navbar {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  background: #c4d855;
  float: left;
  border-bottom-right-radius: 25px;
  margin-top: 0px;
  height: 40px;
}

.book-a-demo-button-icon {
  margin-left: 30px;
  margin-top: 5px;
  float: right;
}

.navbar-dropdown {
  margin-left: 35px;
}

@media screen and (max-width: 700px) {
  .navbar-menu {
    margin-top: 15px;
    justify-content: flex-start;
  }

  .button {
    margin-top: 20px;
    margin-left: 0px;
  }

  .navbar-logo {
    padding-left: 0px;

  }

  .navbar-toggler {
    margin-top: 40px;
  }
}